{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="col-sm-6 col-sm-offset-3">

  <h1>WebSocket — You are now chatting as {{.user}}
    <a href="/">Leave the chat room</a></h1>

  <div id="newMessage">
    <input type="text" id="message" autocomplete="off" autofocus>
    <input type="submit" value="send" id="send">
  </div>

  <div id="dashboard">
    <h1>GeeksforGeeks</h1>
  </div>

  <div class="chart-container">
    <canvas class="post-sensor-selected" id="myChart" width="400" height="100"></canvas>
  </div>
</div>

<script type="text/javascript">
  // Create a socket
  var socket = new WebSocket('ws://' + window.location.host + '/dashboard/live?user={{.user}}')
  // Display a message
  var display = function (data) {
    $('#dashboard').append("<br>" + data + "</br>");
  }
  // Message received on the socket
  socket.onmessage = function (event) {
    console.log("new data " + event.data)
    display(event.data)
  }
  $('#send').click(function (e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(JSON.stringify(message))
  });
  $('#message').keypress(function (e) {
    if (e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })
</script>

{{template "footer.html" .}}