{{set . "title" "Home"}}
{{template "header.html" .}}


<div class="my-container">
  <div id="error-connection" class="container container-body" hidden>
    <div class="my_jumbo jumbotron jumbotron-fluid">
      <h3>
        <center style="color: red;">Conexión con servidor perdida</center>
      </h3>
    </div>
  </div>
  <div id="error-system" class="container container-body" hidden>
    <div class="my_jumbo jumbotron jumbotron-fluid">
      <h3>
        <center style="color: red;">Error en el sistema</center>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card text-white bg-primary">
        <div class="card-header">Temperatura Actual Salón</div>
        <div class="card-body">
          <h5 class="card-title" id="curr-temp-salon"></h5>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card text-white bg-primary">
        <div class="card-header">Temperatura Actual Caldera</div>
        <div class="card-body">
          <h5 class="card-title" id="curr-temp-caldera"></h5>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card text-white bg-primary">
        <div class="card-header">Temperatura Actual Exterior</div>
        <div class="card-body">
          <h5 class="card-title" id="curr-temp-exterior"></h5>
          <p class="card-text"></p>
        </div>
      </div>
      <div id="card-status" class="card text-white bg-primary">
        <div class="card-header">Estado Calefación</div>
        <div class="card-body">
          <h5 class="card-title" id="card-status-tittle"></h5>
          <p class="card-text" id="card-status-text"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="jumbotron jumbotron-fluid" id="chart" style="width:60%;margin: auto;">
      <canvas id="canvas"></canvas>
    </div>
  </div>
</div>

<script>

  function RenderChart() {
    $.getJSON("/dashboard/meassurements", function (meassurements) {
      for (let index = 0; index < meassurements.length; index++) {
        const meassurement = meassurements[index];
        var date = (new Date(meassurement["Time"] * 1000)).toLocaleString()
        config.data.labels.push(date);

        config.data.datasets[0].data.push(meassurement["ValCaldera"].toFixed(2))
        config.data.datasets[1].data.push(meassurement["ValSensor"].toFixed(2))
        if (meassurement["Active"]) {
          config.data.datasets[2].data.push(meassurement["ValCaldera"].toFixed(2))
        } else {
          config.data.datasets[2].data.push(0)

        }
        window.myLine.update();
      }
    });
  }

  var config = {
    type: 'line',
    data: {
      labels: [],
      datasets: [{
        label: 'Temperaturas exterior',
        backgroundColor: window.chartColors.green,
        borderColor: window.chartColors.green,
        data: [],
        fill: false,
      }, {
        label: 'Temperaturas salón',
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data: [],
        fill: false,
      }, {
        label: 'Calefación encendida',
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data: [],
        fill: "origin",
      }]
    },
    options: {
      legend: {
        display: false
      },
      responsive: true,
      title: {
        display: false,
        text: 'Temperaturtas registradas'
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          display: false,
          scaleLabel: {
            display: true,
            labelString: 'Hora'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Grados'
          }
        }]
      }
    }
  };

  $("document").ready( function () {
    var ctx = document.getElementById('canvas').getContext('2d')
    window.myLine = new Chart(ctx, config)
    WebSocketInit()
    RenderChart()
  })

  function connectionKO() {
    $("#error-connection").show();
  }

  function connectionOK() {
    $("#error-connection").hide();
  }

  function systemKO() {
    $("#error-system").show();
  }

  function systemOK() {
    $("#error-system").hide();
  }

  function systemON(manual) {
    $("#card-status").find(".bg-secondary").addClass("bg-success").removeClass("bg-secondary");
    $("#card-status-tittle").html("Calefacción encendida")
    if (manual) {
      $("#card-status-text").html("Calefacción encendida manualmente")
    } else {
      $("#card-status-text").html("Calefacción encendida automáticamente")
    }
  }

  function systemOFF() {
    $("#card-status").find(".bg-success").addClass("bg-secondary").removeClass("bg-success");
    $("#card-status-tittle").html("Calefacción apagada")
    $("#card-status-text").html("")
  }

  function newLiveData(event) {
    var msg = JSON.parse(event.data);
    if (msg != undefined) {
      console.log(msg)
      if (msg["Status"]) {
        systemOK()
      } else {
        systemKO()
      }
      if (msg["Active"]) {
        systemON(msg["Manual"])
      } else {
        systemOFF()
      }
      $("#curr-temp-salon").html(msg["SensorTemp"] + " ºC")
      $("#curr-temp-caldera").html(msg["DeviceTemp"] + " ºC")
      $("#curr-temp-exterior").html(msg["DeviceTemp"] + " ºC")
    }
  }

  function WebSocketInit() {
    if ("WebSocket" in window) {
      var ws = new WebSocket('ws://' + window.location.host + '/dashboard/live?user={{.user }}');

      ws.onmessage = function (evt) {
        connectionOK();
        newLiveData(evt);
      };

      ws.onclose = function () {
        connectionKO()
        setTimeout(function () { WebSocketInit() }, 5000);
      };

      ws.onopen = function () {
        connectionOK();
      };
    }
    else {
      alert("WebSocket NOT supported by your Browser!");
    }
  }
</script>

{{template "footer.html" .}}