.my-container {
    width: auto;
    padding: 50px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 80vw;
}

.clockpicker {
    max-width: 160px;
    margin-top: 0em;
    padding: 0em;
}

.clockpicker input,
.clockpicker span {
    border-color: #999;
}

tr.disabled {
    background-color: grey;
}