{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="my-container">
	<div class="row">
		<div class="col-xs-12 col-md-2 col-lg-2 inst-drop">
			<H3>Sensors</H3>
			<ul class="list-sensors" id="rules-list-sensors"></ul>
		</div>
		<div class="col-xs-12 col-md-10 col-lg-10" id="main-map-holder">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<H3>Sensor Rules</H3>
					<div class="post-sensor-selected sensor-contains-rules">
						Temperature limit: <input id="rules-temp-major" type="number" name="quantity" min="0" max="100">
						. <input id="rules-temp-minor" type="number" name="quantity" min="1" max="9"> ºC
					</div>
				</div>
			</div>
			<div class="row post-sensor-selected">
				<div class="table-responsive sensor-contains-rules">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Monday</td>
								<td><input type="checkbox" id="rules-enabled-monday" checked />Enabled<span
										style="margin-left: 2em" /></span><input type="checkbox" class="rules-monday"
										id="rules-all-day-monday" />All
									Day<span style="margin-left: 2em" /></span><span
										class="glyphicon glyphicon-time" /></span>Start: <input type="text"
										class="clock rules-monday rules-monday-time" id="rules-start-time-monday"
										placeholder="00:00">End:
									<input type="text" class="clock rules-monday rules-monday-time"
										id="rules-end-time-monday" placeholder="23:59"></td>
							</tr>
							<tr>
								<td>Tuesday</td>
								<td><input type="checkbox" id="rules-enabled-tuesday" checked />Enabled<span
										style="margin-left: 2em" /></span><input type="checkbox" class="rules-tuesday"
										id="rules-all-day-tuesday">All Day<span style="margin-left: 2em"></span><span
										class="glyphicon glyphicon-time" /></span>Start: <input type="text"
										class="clock rules-tuesday rules-tuesday-time" id="rules-start-time-tuesday"
										placeholder="00:00">End:
									<input type="text" class="clock rules-tuesday rules-tuesday-time"
										id="rules-end-time-tuesday" placeholder="23:59"></td>
							</tr>
							<tr>
								<td>Wednesday</td>
								<td><input type="checkbox" id="rules-enabled-wednesday" checked />Enabled<span
										style="margin-left: 2em" /></span><input type="checkbox" class="rules-wednesday"
										id="rules-all-day-wednesday" />All Day<span
										style="margin-left: 2em" /></span><span
										class="glyphicon glyphicon-time" /></span>Start: <input type="text"
										class="clock rules-wednesday rules-wednesday-time"
										id="rules-start-time-wednesday" placeholder="00:00">End:
									<input type="text" class="clock rules-wednesday rules-wednesday-time"
										id="rules-end-time-wednesday" placeholder="23:59"></td>
							</tr>
							<tr>
								<td>Thursday</td>
								<td><input type="checkbox" id="rules-enabled-thursday" checked />Enabled<span
										style="margin-left: 2em" /></span><input type="checkbox" class="rules-thursday"
										id="rules-all-day-thursday" />All Day<span
										style="margin-left: 2em" /></span><span
										class="glyphicon glyphicon-time" /></span>Start: <input type="text"
										class="clock rules-thursday rules-thursday-time" id="rules-start-time-thursday"
										placeholder="00:00">End:
									<input type="text" class="clock rules-thursday rules-thursday-time"
										id="rules-end-time-thursday" placeholder="23:59"></td>
							</tr>
							<tr>
								<td>Friday</td>
								<td><input type="checkbox" class="rules-enabled-friday" id="rules-enabled-friday"
										checked />Enabled<span style="margin-left: 2em" /></span><input type="checkbox"
										class="rules-friday" id="rules-all-day-friday" />All Day<span
										style="margin-left: 2em" /></span><span
										class="glyphicon glyphicon-time" /></span>Start: <input type="text"
										class="clock rules-friday rules-friday-time" id="rules-start-time-friday"
										placeholder="00:00">End:
									<input type="text" class="clock rules-friday rules-friday-time"
										id="rules-end-time-friday" placeholder="23:59"></td>
							</tr>
							<tr>
								<td>Saturday</td>
								<td><input type="checkbox" id="rules-enabled-saturday" checked />Enabled<span
										style="margin-left: 2em" /></span><input type="checkbox" class="rules-saturday"
										id="rules-all-day-saturday" />All Day<span
										style="margin-left: 2em" /></span><span
										class="glyphicon glyphicon-time" /></span>Start: <input type="text"
										class="clock rules-saturday rules-saturday-time" id="rules-start-time-saturday"
										placeholder="00:00">End:
									<input type="text" class="clock rules-saturday rules-saturday-time"
										id="rules-end-time-saturday" placeholder="23:59"></td>
							</tr>
							<tr>
								<td>Sunday</td>
								<td><input type="checkbox" id="rules-enabled-sunday" checked />Enabled<span
										style="margin-left: 2em" /></span><input type="checkbox" class="rules-sunday"
										id="rules-all-day-sunday" />All
									Day<span style="margin-left: 2em" /></span><span
										class="glyphicon glyphicon-time" /></span>Start: <input type="text"
										class="clock rules-sunday rules-sunday-time" id="rules-start-time-sunday"
										placeholder="00:00">End:
									<input type="text" class="clock rules-sunday rules-sunday-time"
										id="rules-end-time-sunday" placeholder="23:59"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row post-sensor-selected sensor-contains-rules">
				<div class="col-xs-12 col-md-12">
					<button id="rules-save" type="button" class="btn btn-primary btn-block">Save Rules</button>
					<button id="rules-delete" type="button" class="btn btn-primary btn-block">Delete Rules</button>
				</div>
			</div>
			<div class="row post-sensor-selected sensor-not-contains-rules">
				<div class="col-xs-12 col-md-12">
					<p>This Senor hasn't rules.</p>
					<button id="rules-add" type="button" class="btn btn-primary btn-block">Add Rules</button>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "footer.html" .}}